.letter {
    width: 30px;
    border: 0;
    border-bottom: 1px black solid;
    margin-right: 1%;
    font-size: 30px;
    text-align: center;
}

table{
    width: 70%;
    height: 270px;
}

td{
    border: 1px #888888 solid;
    width: 30%;
    margin: 1%;
    font-size: 20px;
    text-align: center;
    cursor: default;
}

.selected-letter {
    background: #C1C1C1;
    color: #5E5E5E;
}

.game-container{
    position: relative;
    float: left;
    width: 40%;
    height: 270px;
}

.letter-container {
    float: left;
    width: 20%;
    padding-left: 5%;
}

.message{
    position: absolute;
    bottom: 0;
    border: 2px solid #FFCC3D;
    padding: 3%;
    background: #FFD359;
    border-radius: 2px;
}

.start-game{
    background: #FFD359;
    color: black;
    font-weight: 700;
    border: none;
    padding: 2%;
    width: 20%;
    border-radius: 5px;
}

.draw-game{
    float: right;
    width: 25%;
    padding-right: 10%;
}

.draw-img {
    width: 100%;
    height: 270px;
}